* {

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;

}

nav {

    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 16px;
    background-color: #b0f3f5;

}

header {

    background-color: #eadcff;
    height: calc( 100vh - 70px );
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subheader {
    font-size: 36px;
}

h1 {
    font-size: 72px;
}

button {
    background-color: #05c7cf;
    color: white;
    border: none;
    font-size: 24px;
    margin-top: 8px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all ease 0.15s;
}

button:hover {
    box-shadow: 5px 5px 0 0 teal;
}

a {

    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.logo {

    width: 300px;

}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}


.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
}





#about {
    padding: 48px 0;
    background-color: #f8ffdc;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img--wrapper {
    width: 40%;
    padding: 0 24px;
}

img {
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}






#discord {
    background-color: #cefeff;
    padding: 48px 0;
    display: flex;
}

#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 24px;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px;
}










footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0;
}

.footer__logo {
    max-width: 480px;
    margin-bottom: 16px;
}

.footer__links {
    margin-bottom: 32px;
}

.footer__link {
    padding: 0 16px;
}








@media ( max-width: 728px ) {

    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        text-align: center;
        font-size: 60px;
    }

    .subheader {
        text-align: center;
        font-size: 28px;
    }

    .home__description--button {
        max-width: 240px;
    }

    ul {
        display: none;
    }

    .section__description {
        flex-direction: column;
    }

    .section__description--wrapper {
        width: 100%;
    }

    .about__img--wrapper {
        width: 100%;
    }

    #discord {
        flex-direction: column;
    }

    .footer__logo {
        max-width: 360px;
    }

    .footer__link {
        padding: 0 3px;
        font-size: 18px;
    }

    .footer__links {
        margin-bottom: 24px;
    }

}